div {
    display:block;
}

.container {
    border: 2px solid black;
    margin: 10px auto;

}

.section-container {
    width: 100%;
    margin: 20px 20px;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.blue-bg {
    background-color: #2d5dcc;

}

.color-text {
    color: white;
    
}

.pink-bg {
    background-color: #d957d9;
}

.mintgreen-bg {
    background-color: #4fe0b0;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
    margin: 20px auto;
}

.font-style-general {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}

.font-style-2 {
    font-family: 'font-family: Arial, Helvetica, sans-serif';
    font-weight: bold;
    font-size: 16px;
}

.font-style-3 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: italic;
}

ul {
    list-style-type: disc;
}
